<% Term.active.each_with_index do |term, i| %>
  <%= render 'term', term: term, i: i %>
<% end %>
<%= form_for(@booking, html: {class: 'page-bokning'}) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation" class="message-warning">
      <h3><%= @booking.errors.count %> fel hindrade denna bokning från att sparas:</h3>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <% if @failed_bookings and @failed_bookings.any? %>
      <div id="error-repeated-bookings" class="message-warning">
        <h3><%= @failed_bookings.size %> bokningar misslyckades att sparas </h3>
        <ul>
        <% @failed_bookings.each do |fb| %>
          <ul>
          <h4><%= fb.begin_date.strftime "%F" %></h4>
          <% fb.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        <% end %>
        </ul>
      </div>
    <% end %>

  <p class="title-container">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Ex. spelkväll med drawIT" %>
  </p>
  <p class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, data: { persist: true } %>
  </p>
  <%= f.label :room_id %>
  <ul class="location-container horizontal-list">
    <% Room.find_each do |room| %>
      <li>
        <label for="booking_room_id_<%= room.id %>">
          <%= f.radio_button :room_id, room.id, data: { fest: room.allow_party} %>
          <%= room.name %>
        </label>
      </li>
    <% end %>
  </ul>
  <ul class="booking-dates-container">
    <li>
      <%= f.label :begin_date %>
      <%= datetime_local_helper f, :begin_date %>
    </li>
    <li>
      <%= f.label :end_date %>
      <%= datetime_local_helper f, :end_date %>
    </li>
  </ul>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Kort beskrivning av bokningen" %>
  </p>
  <ul class="phone-and-groups-container">
    <li>
      <%= f.label :group, "Boka som" %>
      <% if @user.admin? && @editing %>
        <%= f.collection_select :group, [:digit, :styrit, :prit, :nollkit, :sexit, :fanbarerit, :'8bit', :drawit, :armit, :hookit, :fritid, :snit, :flashit], :to_s, :itize, include_blank: @user.full_name %>
      <% else %>
        <%= f.collection_select :group, @user.symbol_groups, :to_s, :itize, include_blank: @user.full_name %>
      <% end %>
    </li>
  </ul>
  <p class="party-container">
    <%= label_tag :party do %>
      <%= check_box_tag :party, 1, f.object.party_report && (f.object.party_report.persisted? || params[:party]) %> Jag vill även aktivitetsanmäla
    <% end %>
  </p>
  <div class="party-info-container" style="display:none">
    <%= f.fields_for :party_report do |report| %>
      <%= report.label :liquor_license do %>
        <%= report.check_box :liquor_license %> <%= PartyReport.human_attribute_name(:liquor_license) %>
      <% end %>
      <ul>
        <li>
          <%= report.label PartyReport.human_attribute_name(:party_responsible_name) %>
          <%= report.text_field :party_responsible_name, data: { persist: true } %>
        </li>
        <li>
          <%= report.label PartyReport.human_attribute_name(:party_responsible_phone) %>
          <%= report.text_field :party_responsible_phone, data: { persist: true } %>
        </li>
        <li>
          <%= report.label PartyReport.human_attribute_name(:party_responsible_mail) %>
          <%= report.text_field :party_responsible_mail, data: { persist: true } %>
        </li>
      </ul>
      <%= label_tag :co_responsible do %>
        <%= check_box_tag :co_responsible, 1, f.object.party_report.co_party_responsible_name.present?, data: { show: '.co-resp-show' }, class: 'show-click' %> Jag vill ha medansvarig
      <% end %>
      <ul class="co-resp-show" style="display:none">
        <li>
          <%= report.label PartyReport.human_attribute_name(:co_party_responsible_name) %>
          <%= report.text_field :co_party_responsible_name %>
        </li>
        <li>
          <%= report.label PartyReport.human_attribute_name(:co_party_responsible_phone) %>
          <%= report.text_field :co_party_responsible_phone %>
        </li>
        <li>
          <%= report.label PartyReport.human_attribute_name(:co_party_responsible_mail) %>
          <%= report.text_field :co_party_responsible_mail %>
        </li>
      </ul>
      <%= label_tag :custom_party_date do %>
        <%= check_box_tag :custom_party_date, 1, show_party_date?(f.object), data: { show: '.custom-date-show' }, class: 'show-click' %> Aktivitetsanmälan gäller inte hela bokningstiden
      <% end %>
      <ul class="custom-date-show" style="display:none">
        <li>
          <%= report.label PartyReport.human_attribute_name(:begin_date) %>
          <%= datetime_local_helper report, :begin_date, party_begin_date(f.object) %>
        </li>
        <li>
          <%= report.label PartyReport.human_attribute_name(:end_date) %>
          <%= datetime_local_helper report, :end_date, party_end_date(f.object) %>
        </li>
      </ul>
    <% end %>
  </div>
  <div>
    <% Term.active.each_with_index do |term, i| %>
      <%= label 'term', 'accepted' do %>
        <%= check_box 'term', 'accepted', required: true %> Jag har läst igenom och accepterar <%= link_to 'bokningsvillkoren', '#', data: { 'reveal-id' => "terms_#{i}"}%>
      <% end %>
    <% end %>
    <% if f.object.new_record? # don't allow repeated bookings on already created booking object %>
      <%= label_tag :repeat_booking do %>
        <%= check_box_tag :repeat_booking %> Jag vill repetera denna bokning veckoligen
      <% end %>
      <div class="repeat-booking-container" style="display:none">
        <%= label_tag Booking.human_attribute_name(:repeat_until) %>
        <%= date_field_tag :repeat_until %>
      </div>
    <% end %>
  </div>
  <br>
  <div class="actions">
    <%= link_to 'Radera', @booking, method: :delete, class: 'btn btn-dangerous', data: { id: @booking.id } %>
    <%= link_to "Alla bokningar", bookings_path, class: 'btn btn-boring'%>
    <%= f.submit %>
  </div>
<% end %>
