<%= form_for(@booking, html: {class: 'page-bokning'}) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="title-container">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Ex. spelkväll med drawIT" %>
  </p>
  <p class="field">
    <%= f.label :cid %>
    <%= @booking.cid %>
  </p>
  <%= f.label :room_id %>
  <ul class="location-container horizontal-list">
    <% Room.find_each do |room| %>
      <li>
        <label for="booking_room_id_<%= room.id %>">
          <input <%= 'checked=checked' if room.id == 1 %> id="booking_room_id_<%= room.id %>" data-fest="<%= room.festrum %>" name="booking[room_id]" type="radio" value="<%= room.id %>">
          <%= room.name %>
        </label>
      </li>
    <% end %>
  </ul>
  <ul class="booking-dates-container">
    <li>
      <%= f.label :begin_date %>
      <%= datetime_local_helper f, :begin_date %>
    </li>
    <li>
      <%= f.label :end_date %>
      <%= datetime_local_helper(f, :end_date, DateTime.now + 2.hours) %>
    </li>
  </ul>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Kort beskrivning av bokningen" %>
  </p>
  <ul class="phone-and-groups-container">
    <li>
      <%= f.label :group, "Boka som" %>
      <%= f.collection_select :group, ["#{@user.firstname} #{@user.lastname} (Privatperson)"] + @user.groups, :parameterize, :to_s %>
    </li>
  </ul>
  <p class="party-container">
    <%= f.label :fest do %>
      <%= f.check_box :fest %> Jag vill även festanmäla
    <% end %>
  </p>
  <div class="party-info-container" style="display:none">
    <ul>
      <li>
        <%= f.label :festansvarig %>
        <%= f.text_field :festansvarig %>
      </li>
      <li>
        <%= f.label :festnumber %>
        <%= f.text_field :festnumber %>
      </li>
    </ul>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div>
    <h3>Bokning endast möjligt inom följade perioder</h3>
    <ul>
    <% WhitelistItem.active.find_each do |w| %>
      <li><%= w %></li>
    <% end %>
    </ul>
  </div>
<% end %>
