<h1>Listar bokningar</h1>
<table>
  <thead>
    <tr>
      <th>Cid</th>
      <th>Start</th>
      <th>End</th>
      <th>Group</th>
      <th>Room</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.cid %></td>
        <td><%= booking.start %></td>
        <td><%= booking.end %></td>
        <td><%= booking.group %></td>
        <td><%= booking.room %></td>
        <td><%= link_to 'Visa', booking %></td>
        <td><%= link_to 'Redigera', edit_booking_path(booking) %></td>
        <td><%= link_to 'Radera', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ny Bokning', new_booking_path %> | 
<%= link_to 'Whitelist items', whitelist_items_path %>
