<h1>Listar bokningar</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li>
      <strong><%= link_to booking.title, booking %></strong> by <%= booked_by(booking) %> (<%= booking.room %>) <br>
      <%= booking.begin_date.to_s(:short) %> - <%= booking.end_date.to_s(:short) %> <br>
      <%= link_to 'Redigera', edit_booking_path(booking) %> <%= link_to 'Radera', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'Ny Bokning', new_booking_path %> |
<%= link_to 'Whitelist items', whitelist_items_path %>
