<h1>Listar bokningar</h1>

<% if can? :manage, Term %>
  <%= link_to 'Villkor', terms_path %>
<% end %>
<% if can? :manage, Rule %>
  | <%= link_to 'Regler', rules_path %>
<% end %>
<% if can? :accept, PartyReport %>
  | <%= link_to 'Aktivitetsanmälningar', party_reports_path %>
<% end %>
<br>
<br>

<% if can? :create, Booking %>
  <%= link_to 'Ny Bokning', new_booking_path, class: 'btn btn-primary' %>
<% end %>
<% if current_user.present? %>
  <% if params[:filter].present? %>
    <%= link_to 'Alla bokningar', bookings_path, class: 'btn btn-boring' %>
  <% else %>
    <%= link_to 'Dina bokningar', user_bookings_path(current_user), class: 'btn btn-boring' %>
  <% end %>
<% end %>
<br><br>

<dl class="tabs">
  <dd class="active"><a id="calendar_link" href="#calendar">Calendar</a></dd>
  <dd><a href="#list">List</a></dd>
</dl>
<ul class="tabs-content">
  <li class="active" id="calendarTab">
    <div id="calendar"></div>
  </li>
  <li id="listTab">
    <table class="bookings-index">
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to booking.title, booking %></td>
        <td><%= booking.booking_range %></td>
        <td><%= booking.room %></td>
        <td>
          <% if can? :manage, booking %>
            <%= link_to 'Ändra', edit_booking_path(booking) %> <%= link_to 'Radera', booking, method: :delete, class: ('others' unless booking.user == current_user), data: { id: booking.id } %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  </li>
</ul>

<%= render 'mail' %>
