<h1>Listar bokningar</h1>
<% if can? :create, Booking %>
  <%= link_to 'Ny Bokning', new_booking_path, class: 'btn btn-primary' %>
<% end %>
<% if current_user.present? %>
  <% if params[:filter].present? %>
    <%= link_to 'Alla bokningar', bookings_path, class: 'btn btn-boring' %>
  <% else %>
    <%= link_to 'Dina bokningar', bookings_path(filter: current_user.cid), class: 'btn btn-boring' %>
  <% end %>
<% end %>
<br><br>
<ul class="bookings-index">
<% @bookings.each do |booking| %>
  <li>
    <strong><%= link_to booking.title, booking %></strong><br>
    <%= booking.booking_range %> | <%= booking.room %><br>
    <% if can? :manage, booking %>
      <%= link_to 'Ändra', edit_booking_path(booking) %> <%= link_to 'Radera', booking, method: :delete, class: ('others' unless booking.user == current_user), data: { id: booking.id } %>
    <% end %>
  </li>
<% end %>
</ul>

<% if can? :manage, Term %>
  <%= link_to 'Villkor', terms_path %>
<% end %>
<% if can? :manage, Rule %>
  | <%= link_to 'Regler', rules_path %>
<% end %>
<% if can? :accept, Booking %>
  | <%= link_to 'Party Reports', party_reports_path %>
<% end %>

<%= render 'mail' %>
