<h1>Listar bokningar</h1>
<% if can? :create, Booking %>
  <%= link_to 'Ny Bokning', new_booking_path, class: 'btn btn-primary' %>
<% end %>
<% if false # can? :manage, WhitelistItem %>
  <%= link_to 'Whitelist items', whitelist_items_path %> |
<% end %>
<% if current_user.present? %>
  <% if params[:filter].present? %>
    <%= link_to 'Alla bokningar', bookings_path, class: 'btn btn-boring' %>
  <% else %>
    <%= link_to 'Dina bokningar', bookings_path(filter: current_user.cid), class: 'btn btn-boring' %>
  <% end %>
<% end %>
<br><br>
<% @bookings.each do |booking| %>
  <p>
    <strong><%= link_to booking.title, booking %></strong><br>
    <%= booking.booking_range %> | <%= booking.room %><br>
    <% if can? :manage, booking %>
      <%= link_to 'Ändra', edit_booking_path(booking) %> <%= link_to 'Radera', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
<% end %>

<% if can? :manage, Term %>
  <%= link_to 'Villkor', terms_path %>
<% end %>
