<table>
	<thead>
		<tr>
			<th>Titel</th>
			<th>Lokal</th>
			<th>Bokad av</th>
			<th>Period</th>
			<th>Serveringstillstånd begärt</th>
			<% if active %>
				<th>Godkänn</th>
				<th>Avslå</th>
			<% end %>
		</tr>
	</thead>
	<% reports.each do |report| %>
		<tr>
			<td><%= link_to report.booking.title, report.booking %></td>
			<td><%= report.booking.room %></td>
			<td><%= report.booking.group_sym.itize || report.booking.user %></td>
			<td><%= report.booking.booking_range %></td>
			<td><%= report.liquor_license ? 'Ja' : 'Nej' %></td>
			<% if active %>
				<td><%= link_to '✔', accept_party_report_path(report), class: 'btn', disabled: report.accepted? %></td>
				<td><%= link_to '✘', reject_party_report_path(report), class: 'btn btn-dangerous reject', data: { mail: report.booking.user.mail, url: booking_url(report.booking), id: report.booking.id }, disabled: report.rejected? %></td>
			<% end %>
		</tr>
	<% end %>
</table>
