<div id="send_form" class="reveal-modal medium">
	<h2>Masskicka festanmälan</h2>
	<%= form_tag send_bookings_party_reports_url, method: :post do %>
		<% reports.each do |r| %>
			<%= label_tag do %>
				<%= check_box_tag 'report_ids[]', r.id, true %><%= r.title %>
			<% end %><br>
		<% end %>
		<br>
		<%= submit_tag 'Skicka festanmälningar', class: 'button preview_mail' %>
	<% end %>
	<a href="#" class="close-reveal-modal">&times;</a>
</div>
