<div id="send_form" class="reveal-modal medium">
	<h2>Masskicka aktivitetsanmälan</h2>
	<%= form_tag send_bookings_party_reports_url, method: :post do %>
		<%= label_tag do %>
			<%= check_box_tag 'select_all', -1, true, class: 'select_all'%><b><%= 'Select All' %><b/>
		<% end %><br><br>
		<div id="send_checkboxes">
			<% reports.each do |r| %>
				<%= label_tag do %>
					<%= check_box_tag 'report_ids[]', r.id, true %><%= r.title %>
				<% end %><br>
			<% end %>
		</div>
		<br>
		<%= submit_tag 'Skicka aktivitetsanmälningar', class: 'button preview_mail' %>
	<% end %>
	<a href="#" class="close-reveal-modal">&times;</a>
</div>
