<div id="send_form" class="reveal-modal medium">
	<h2>Masskicka festanmälan</h2>
	<%= form_tag send_bookings_party_reports_url, method: :post do %>
		<% bookings.each do |b| %>
			<%= label_tag do %>
				<%= check_box_tag 'booking_ids[]', b.id, true %><%= b.title %>
			<% end %><br>
		<% end %>
		<br>
		<%= submit_tag 'Skicka festanmälningar', class: 'button preview_mail' %>
	<% end %>
	<a href="#" class="close-reveal-modal">&times;</a>
</div>
