<h1>Aktivitetsanmälningar</h1>
<%= link_to "Bokningar", bookings_path %>
<% if @not_accepted_reports.any? %>
	<h2>Att acceptera:</h2>
	<em>Vid godkännande kommer endast personen som bokade att meddelas via mail</em>
	<%= render 'bookinglist', reports: @not_accepted_reports, active: true %>
<% end %>


<% if @unsent_reports.any? %>
	<br>
	<h2>Ej skickade:</h2>
	<em>Aktivitetsanmälningar väntandes på att bli skickade, klicka på 'Öppna massutskick'</em>
	<%= render 'bookinglist', reports: @unsent_reports, active: false %>
	<br>
	<button class="send_bookings">Öppna massutskick</button>
<% end %>
<%= render 'mail' %>
<%= render 'send_bookings', reports: @unsent_reports %>


<% if @sent_reports.any? %>
	<br>
	<h2>Skickade:</h2>
	<em>10 senaste aktivitetsanmälningar skickade till Chalmers</em>
	<%= render 'bookinglist', reports: @sent_reports, active: false %>
<% end %>
