<h1>Listing Rules</h1>

<p>
Dessa regler används för att bestämma när lokalerna kan bokas. Det går att sätta inkluderande regler såväl som exkluderande.
Om flera regler överlappar används deras respektive prioritet för att bedöma om bokning får göras eller ej.
<br>
<br>
Exempelvis:<br>
Prio 10 Hubben och grupprummet får ej bokas på Läsdagar mellan 8-17.<br>
Prio 9 Hubben och grupprummet ska gå att boka under sommarens alla dagar.<br>
Prio 1 Hubben och grupprummet får absolut inte bokas under tentaveckan då behöver folk plugga.<br>
<br>
Som kan ses nedan har tentaveckan högs prioritet, 1, medan sommaruppehåll har fått prioriteten 9 för att skriva över regeln om läsdagar som har prioritet 10.<br>
Alltså, mindre siffra ger högre prioritet.
</p>

<table>
  <thead>
    <th>Title</th>
    <th>Prio</th>
    <th>Rule duration</th>
    <th>Time</th>
    <th>Rooms</th>
    <th>M T O T F L S</th>
    <th>Allow</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.title %></td>
        <td><%= rule.prio %></td>
        <td><%= rule.start_date.strftime '%F' %> - <br> <%= rule.stop_date.strftime '%F' %></td>
        <% if rule.start_time.nil? %>
          <td>All</td>
        <% else %>
          <td><%= rule.start_time.strftime '%R' %> - <br> <%= rule.stop_time.strftime '%R' %></td>
        <% end %>
        <td>
          <% rule.rooms.each do |r| %>
            <%= r.name %><br>
          <% end %>
        </td>
        <td><% rule.days_array.each do |k, d| %>
          <% if d == '1' %>
            <div class="day green"></div>
          <% else %>
            <div class="day red"></div>
          <% end %>
        <% end %></td>
        <td><%= rule.allow %></td>
        <td><%= link_to 'Show', rule %></td>
        <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
        <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rule', new_rule_path %>
